@media (max-width: 768px) {
    section {
        width: 90%;
        padding: 40px 15px;
    }

    .container {
        padding: 0;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .imc-container input[type="number"] {
        width: 100%;
    }
}